h1{
    font-family:'Times New Roman', Times, serif;
    font: size 20pt;;
    color:white;
  }
  
  body{
    background-image: ;
  }
  
  h2{
    color:white;
    
  }
  h3{
    color:white
  }
  h4{
    color:white
  }